# Patent Data

In [1]:
import pandas as pd

In [2]:
#patent information
patents_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_patent.tsv', sep='\t')

#applicant information (include multiple per patent doing seq = 0 should be primary)
applicant_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_inventor_not_disambiguated.tsv', sep='\t') 

# raw location not disambiguated (e.g, no coordinates)
location_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_location_not_disambiguated.tsv', sep='\t')

#get organization
assignee_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_assignee_not_disambiguated.tsv', sep='\t')

#the sector and type of patent
wipo_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_wipo_technology.tsv', sep='\t')

/var/folders/n4/v33nl1c17tn8grw2pny9w0mc0000gn/T/ipykernel_80143/1487417970.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  patents_g = pd.read_csv('/Users/thomascabe/Downloads/DVA_Proj/g_patent.tsv', sep='\t')

## Data Table Visualization

In [3]:
## primary inventor...
prim_inventor = applicant_g[applicant_g['inventor_sequence'] == 0]

In [6]:
prim_inventor.head(5)

,patent_id,inventor_sequence,inventor_id,raw_inventor_name_first,raw_inventor_name_last,deceased_flag,rawlocation_id
0,D1006496,0,fl:we_ln:jiang-145,Wenjing,Jiang,0,30zgod902k0u495w9b2sb8xk9
1,6584128,0,fl:ri_ln:kroeger-1,Richard,Kroeger,FALSE,o2ema6bl3kkh6iwziprbzu4m9
2,4789863,0,fl:th_ln:bush-1,Thomas A.,Bush,FALSE,tkz70bmoqx88n1lfz3fl657lh
5,D474886,0,fl:th_ln:fleming-4,Thomas W.,Fleming,FALSE,cmf9hebugybql8ufffo47uwcz
7,7646155,0,fl:sa_ln:woods-2,Samuel G,Woods,FALSE,omi6wqlrblholsssk9qx0dz5b

In [7]:
applicant_g.head(5)

,patent_id,inventor_sequence,inventor_id,raw_inventor_name_first,raw_inventor_name_last,deceased_flag,rawlocation_id
0,D1006496,0,fl:we_ln:jiang-145,Wenjing,Jiang,0,30zgod902k0u495w9b2sb8xk9
1,6584128,0,fl:ri_ln:kroeger-1,Richard,Kroeger,FALSE,o2ema6bl3kkh6iwziprbzu4m9
2,4789863,0,fl:th_ln:bush-1,Thomas A.,Bush,FALSE,tkz70bmoqx88n1lfz3fl657lh
3,11161990,1,fl:ma_ln:boudreaux-4,Matthew F.,Boudreaux,False,up8ym622ssh09vpqv9rdsygs0
4,6795487,1,fl:ge_ln:whitworth-1,Gerald,Whitworth,FALSE,96s3xenagksk3dyad1r777a9e

In [8]:
len(applicant_g['patent_id'].unique())

8888962

In [9]:
sum(applicant_g['inventor_sequence'] == 0)

8888962

### Patent

In [10]:
patents_g.head(5)

,patent_id,patent_type,patent_date,patent_title,wipo_kind,num_claims,withdrawn,filename
0,10000000,utility,2018-06-19,Coherent LADAR using intra-pixel quadrature de...,B2,20,0,ipg180619.xml
1,10000001,utility,2018-06-19,Injection molding machine and mold thickness c...,B2,12,0,ipg180619.xml
2,10000002,utility,2018-06-19,Method for manufacturing polymer film and co-e...,B2,9,0,ipg180619.xml
3,10000003,utility,2018-06-19,Method for producing a container from a thermo...,B2,18,0,ipg180619.xml
4,10000004,utility,2018-06-19,"Process of obtaining a double-oriented film, c...",B2,6,0,ipg180619.xml

### Location

In [11]:
location_g.head(5)

,rawlocation_id,location_id,raw_city,raw_state,raw_country
0,000005mtrirpdyrtlkfbffj0e,1d2251c8-16c8-11ed-9b5f-1234bde3cd05,Kanagawa,NaN,JP
1,00006fjnoq057no2s4bse374r,439af3dd-16c8-11ed-9b5f-1234bde3cd05,Dallas,TX,US
2,0000bztanu9rrtm943i8a7wry,8d09bc30-16c8-11ed-9b5f-1234bde3cd05,Osaka,NaN,JP
3,0000c07c-672a-48d9-a3bb-71c439ac17b3,280c9de4-16c8-11ed-9b5f-1234bde3cd05,NaN,NaN,DE
4,0000dpr8zljw34um291yal5ym,cf4944e5-16c7-11ed-9b5f-1234bde3cd05,Sugar Land,TX,US

### Wipo Technology

In [12]:
wipo_g.head(5)

,patent_id,wipo_field_sequence,wipo_field_id,wipo_sector_title,wipo_field_title
0,10000000,0,10,Instruments,Measurement
1,10000001,0,29,Mechanical engineering,Other special machines
2,10000001,1,12,Instruments,Control
3,10000002,0,21,Chemistry,"Surface technology, coating"
4,10000002,1,29,Mechanical engineering,Other special machines

## Merging Data

#### Assure all ids are string type is there is no issue when merging

In [14]:
patents_g['patent_id'] = patents_g['patent_id'].astype(str)
prim_inventor['patent_id'] = prim_inventor['patent_id'].astype(str)
wipo_g['patent_id'] = wipo_g['patent_id'].astype(str)

/var/folders/n4/v33nl1c17tn8grw2pny9w0mc0000gn/T/ipykernel_80143/4124212139.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prim_inventor['patent_id'] = prim_inventor['patent_id'].astype(str)

#### Merge location and assignee

In [15]:
prim_assign = assignee_g[assignee_g['assignee_sequence'] == 0]
organization = prim_assign[['patent_id', 'raw_assignee_organization']]

In [16]:
organization['patent_id'] = organization['patent_id'].astype(str)

/var/folders/n4/v33nl1c17tn8grw2pny9w0mc0000gn/T/ipykernel_80143/2287759275.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organization['patent_id'] = organization['patent_id'].astype(str)

In [17]:
prim_inventor = pd.merge(prim_inventor, organization, on = 'patent_id', how = 'left')

In [18]:
prim_inventor.head(5)

,patent_id,inventor_sequence,inventor_id,raw_inventor_name_first,raw_inventor_name_last,deceased_flag,rawlocation_id,raw_assignee_organization
0,D1006496,0,fl:we_ln:jiang-145,Wenjing,Jiang,0,30zgod902k0u495w9b2sb8xk9,NaN
1,6584128,0,fl:ri_ln:kroeger-1,Richard,Kroeger,FALSE,o2ema6bl3kkh6iwziprbzu4m9,"Scientific-Atlanta, Inc."
2,4789863,0,fl:th_ln:bush-1,Thomas A.,Bush,FALSE,tkz70bmoqx88n1lfz3fl657lh,NaN
3,D474886,0,fl:th_ln:fleming-4,Thomas W.,Fleming,FALSE,cmf9hebugybql8ufffo47uwcz,"Bacou-Dalloz USA Safety, Inc."
4,7646155,0,fl:sa_ln:woods-2,Samuel G,Woods,FALSE,omi6wqlrblholsssk9qx0dz5b,Balck & Decker Inc.

In [19]:
# Ensure IDs are strings
location_g['rawlocation_id'] = location_g['rawlocation_id'].astype(str)
prim_inventor['rawlocation_id'] = prim_inventor['rawlocation_id'].astype(str)

# Filter location_g where raw_location_id exists in assignee_g.location_id to make merge faster since time complexity....idk if it makes that big of difference
filtered_location_g = location_g[location_g['rawlocation_id'].isin(prim_inventor['rawlocation_id'])]

In [20]:
location_assignee = pd.merge(prim_inventor, filtered_location_g, on='rawlocation_id', how='left')

In [21]:
location_assignee.head(4)

,patent_id,inventor_sequence,inventor_id,raw_inventor_name_first,raw_inventor_name_last,deceased_flag,rawlocation_id,raw_assignee_organization,location_id,raw_city,raw_state,raw_country
0,D1006496,0,fl:we_ln:jiang-145,Wenjing,Jiang,0,30zgod902k0u495w9b2sb8xk9,NaN,9d072d42-49af-11ed-9879-1234bde3cd05,Guizhou,NaN,CN
1,6584128,0,fl:ri_ln:kroeger-1,Richard,Kroeger,FALSE,o2ema6bl3kkh6iwziprbzu4m9,"Scientific-Atlanta, Inc.",NaN,NaN,NaN,NaN
2,4789863,0,fl:th_ln:bush-1,Thomas A.,Bush,FALSE,tkz70bmoqx88n1lfz3fl657lh,NaN,NaN,NaN,NaN,NaN
3,D474886,0,fl:th_ln:fleming-4,Thomas W.,Fleming,FALSE,cmf9hebugybql8ufffo47uwcz,"Bacou-Dalloz USA Safety, Inc.",1893009c-16c8-11ed-9b5f-1234bde3cd05,San Diego,CA,US

In [22]:
missing_in_location_assignee = patents_g[~patents_g['patent_id'].isin(location_assignee['patent_id'])]
print("Rows in patents_g with no match in location_assignee:", len(missing_in_location_assignee))

missing_in_patents_g = location_assignee[~location_assignee['patent_id'].isin(patents_g['patent_id'])]
print("Rows in location_assignee with no match in patents_g:", len(missing_in_patents_g))

Rows in patents_g with no match in location_assignee: 1087
Rows in location_assignee with no match in patents_g: 0

In [23]:
patent_location_assignee = pd.merge(patents_g, location_assignee, on='patent_id', how='left')

### Getting Values with only Valid location

In [24]:
patent_location_assignee.head(5)

,patent_id,patent_type,patent_date,patent_title,wipo_kind,num_claims,withdrawn,filename,inventor_sequence,inventor_id,raw_inventor_name_first,raw_inventor_name_last,deceased_flag,rawlocation_id,raw_assignee_organization,location_id,raw_city,raw_state,raw_country
0,10000000,utility,2018-06-19,Coherent LADAR using intra-pixel quadrature de...,B2,20,0,ipg180619.xml,0.0,fl:jo_ln:marron-5,Joseph,Marron,FALSE,klkuujc1w3iik6xrp7c2wdvt7,Raytheon Company,198b0471-16c8-11ed-9b5f-1234bde3cd05,Manhattan Beach,CA,US
1,10000001,utility,2018-06-19,Injection molding machine and mold thickness c...,B2,12,0,ipg180619.xml,0.0,fl:su_ln:lee-438,Sun-Woo,Lee,FALSE,95igh4mbo217kt9dmb2x8r3il,LS MTRON LTD.,6c4ba08f-16c8-11ed-9b5f-1234bde3cd05,Gunpo-si,NaN,KR
2,10000002,utility,2018-06-19,Method for manufacturing polymer film and co-e...,B2,9,0,ipg180619.xml,0.0,fl:yu_ln:kim-65,Yun-Jo,Kim,FALSE,0jpghs5hm2z9y7c7t5wqcw9nk,"KOLON INDUSTRIES, INC.",755a6338-16c8-11ed-9b5f-1234bde3cd05,Yongin-si,NaN,KR
3,10000003,utility,2018-06-19,Method for producing a container from a thermo...,B2,18,0,ipg180619.xml,0.0,fl:gu_ln:bergmann-3,Guido,Bergmann,FALSE,c9av9x4gxgkr3bvhc2dtrhsvz,KAUTEX TEXTRON GMBH & CO. KG,6c737da8-16c8-11ed-9b5f-1234bde3cd05,St. Augustin,NaN,DE
4,10000004,utility,2018-06-19,"Process of obtaining a double-oriented film, c...",B2,6,0,ipg180619.xml,0.0,fl:mi_ln:zubiriaelizondo-1,Miguel Jorge,Zubiria Elizondo,FALSE,v8ucm2trnfns3id8krhmw8bty,ZUBEX INDUSTRIAL SA DE CV,74ce52e1-16c8-11ed-9b5f-1234bde3cd05,Monterrey,NaN,MX

In [25]:
valid_locations = patent_location_assignee[patent_location_assignee['rawlocation_id'].notnull()]

In [26]:
len(valid_locations)

8888962

In [27]:
# Find duplicate patent_id values
duplicate_ids = valid_locations['patent_id'][valid_locations['patent_id'].duplicated()]

# Filter the DataFrame to get only rows with duplicate patent_id values and sort by 'patent_id'
duplicates = valid_locations[valid_locations['patent_id'].isin(duplicate_ids)].sort_values(by='patent_id')

# Display the result
print(duplicates)

Empty DataFrame
Columns: [patent_id, patent_type, patent_date, patent_title, wipo_kind, num_claims, withdrawn, filename, inventor_sequence, inventor_id, raw_inventor_name_first, raw_inventor_name_last, deceased_flag, rawlocation_id, raw_assignee_organization, location_id, raw_city, raw_state, raw_country]
Index: []

In [28]:
duplicates

Empty DataFrame
Columns: [patent_id, patent_type, patent_date, patent_title, wipo_kind, num_claims, withdrawn, filename, inventor_sequence, inventor_id, raw_inventor_name_first, raw_inventor_name_last, deceased_flag, rawlocation_id, raw_assignee_organization, location_id, raw_city, raw_state, raw_country]
Index: []

In [29]:
len(valid_locations['patent_id'].unique())

8888962

In [30]:
prim_type = wipo_g[wipo_g['wipo_field_sequence'] == 0]

In [31]:
TechType_df = pd.merge(valid_locations, prim_type, on='patent_id', how='left')

In [32]:
len(TechType_df)

8888962

In [33]:
TechType_df.head(4)

,patent_id,patent_type,patent_date,patent_title,wipo_kind,num_claims,withdrawn,filename,inventor_sequence,inventor_id,...,rawlocation_id,raw_assignee_organization,location_id,raw_city,raw_state,raw_country,wipo_field_sequence,wipo_field_id,wipo_sector_title,wipo_field_title
0,10000000,utility,2018-06-19,Coherent LADAR using intra-pixel quadrature de...,B2,20,0,ipg180619.xml,0.0,fl:jo_ln:marron-5,...,klkuujc1w3iik6xrp7c2wdvt7,Raytheon Company,198b0471-16c8-11ed-9b5f-1234bde3cd05,Manhattan Beach,CA,US,0.0,10.0,Instruments,Measurement
1,10000001,utility,2018-06-19,Injection molding machine and mold thickness c...,B2,12,0,ipg180619.xml,0.0,fl:su_ln:lee-438,...,95igh4mbo217kt9dmb2x8r3il,LS MTRON LTD.,6c4ba08f-16c8-11ed-9b5f-1234bde3cd05,Gunpo-si,NaN,KR,0.0,29.0,Mechanical engineering,Other special machines
2,10000002,utility,2018-06-19,Method for manufacturing polymer film and co-e...,B2,9,0,ipg180619.xml,0.0,fl:yu_ln:kim-65,...,0jpghs5hm2z9y7c7t5wqcw9nk,"KOLON INDUSTRIES, INC.",755a6338-16c8-11ed-9b5f-1234bde3cd05,Yongin-si,NaN,KR,0.0,21.0,Chemistry,"Surface technology, coating"
3,10000003,utility,2018-06-19,Method for producing a container from a thermo...,B2,18,0,ipg180619.xml,0.0,fl:gu_ln:bergmann-3,...,c9av9x4gxgkr3bvhc2dtrhsvz,KAUTEX TEXTRON GMBH & CO. KG,6c737da8-16c8-11ed-9b5f-1234bde3cd05,St. Augustin,NaN,DE,0.0,29.0,Mechanical engineering,Other special machines

In [34]:
sum(TechType_df['raw_country'].isna())

2119

In [35]:
TechType_df.columns

Index(['patent_id', 'patent_type', 'patent_date', 'patent_title', 'wipo_kind',
       'num_claims', 'withdrawn', 'filename', 'inventor_sequence',
       'inventor_id', 'raw_inventor_name_first', 'raw_inventor_name_last',
       'deceased_flag', 'rawlocation_id', 'raw_assignee_organization',
       'location_id', 'raw_city', 'raw_state', 'raw_country',
       'wipo_field_sequence', 'wipo_field_id', 'wipo_sector_title',
       'wipo_field_title'],
      dtype='object')

In [36]:
### Dropping Unecessary Columns
df_patent_ID = TechType_df.drop(['patent_type', 'inventor_sequence', 'deceased_flag', 'wipo_kind','rawlocation_id','location_id','wipo_field_sequence','num_claims'], axis = 1)

In [37]:
df_patent_ID.head(4)

,patent_id,patent_date,patent_title,withdrawn,filename,inventor_id,raw_inventor_name_first,raw_inventor_name_last,raw_assignee_organization,raw_city,raw_state,raw_country,wipo_field_id,wipo_sector_title,wipo_field_title
0,10000000,2018-06-19,Coherent LADAR using intra-pixel quadrature de...,0,ipg180619.xml,fl:jo_ln:marron-5,Joseph,Marron,Raytheon Company,Manhattan Beach,CA,US,10.0,Instruments,Measurement
1,10000001,2018-06-19,Injection molding machine and mold thickness c...,0,ipg180619.xml,fl:su_ln:lee-438,Sun-Woo,Lee,LS MTRON LTD.,Gunpo-si,NaN,KR,29.0,Mechanical engineering,Other special machines
2,10000002,2018-06-19,Method for manufacturing polymer film and co-e...,0,ipg180619.xml,fl:yu_ln:kim-65,Yun-Jo,Kim,"KOLON INDUSTRIES, INC.",Yongin-si,NaN,KR,21.0,Chemistry,"Surface technology, coating"
3,10000003,2018-06-19,Method for producing a container from a thermo...,0,ipg180619.xml,fl:gu_ln:bergmann-3,Guido,Bergmann,KAUTEX TEXTRON GMBH & CO. KG,St. Augustin,NaN,DE,29.0,Mechanical engineering,Other special machines

In [38]:
#check all patent id is unique
len(df_patent_ID['patent_id'].unique()) - len(df_patent_ID)

0

In [39]:
df_patent_ID.to_csv("patent_info_V3.csv", index=False)